// SweetAlert2
$swal2-font: "Source Sans Pro", "Source Sans Pro Bold", sans-serif;
$swal2-success: #2C82E0;
$swal2-error: #DE1041;
$swal2-warning: #FFAC0A;
$swal2-info: #2c82e0;
$swal2-background: #f4f8fa;
$swal2-black: #2c3e50;
$swal2-width: 20rem;
$swal2-border-radius: .4rem;
$swal2-color: $swal2-black;
$swal2-confirm-button-background-color: $swal2-success;
$swal2-cancel-button-background-color: $swal2-error;
$swal2-button-font-weight: bold;
