.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
stylelintOutput.log*
inspect.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.orig

# Project exclude paths
/src/data/charts/types/index.js
/src/data/charts/types/index.js.map
/src/data/charts/DonutChartData.js
/src/data/charts/DonutChartData.js.map
/src/data/charts/HorizontalBarChartData.js
/src/data/charts/HorizontalBarChartData.js.map
/src/data/charts/LineChartData.js
/src/data/charts/LineChartData.js.map
/src/data/charts/PieChartData.js
/src/data/charts/PieChartData.js.map
/src/data/charts/VerticalBarChartData.js
/src/data/charts/VerticalBarChartData.js.map
/src/data/maps/LineMapData.js
/src/data/maps/LineMapData.js.map
/src/data/CountriesList.js
/src/data/CountriesList.js.map
/src/pages/404-pages/CategoriesConfig.js
/src/pages/404-pages/CategoriesConfig.js.map
/src/router/index.js
/src/router/index.js.map
/src/services/announcement/announcementApi.js
/src/services/announcement/announcementApi.js.map
/src/services/announcement/announcementService.js
/src/services/announcement/announcementService.js.map
/src/services/appointment/appointmentApi.js
/src/services/appointment/appointmentApi.js.map
/src/services/appointment/appointmentService.js
/src/services/appointment/appointmentService.js.map
/src/services/auth/authApi.js
/src/services/auth/authApi.js.map
/src/services/auth/authService.js
/src/services/auth/authService.js.map
/src/services/dashboard/dashboardApi.js
/src/services/dashboard/dashboardApi.js.map
/src/services/dashboard/dashboardService.js
/src/services/dashboard/dashboardService.js.map
/src/services/notification/notificationApi.js
/src/services/notification/notificationApi.js.map
/src/services/notification/notificationService.js
/src/services/notification/notificationService.js.map
/src/services/rbi/familyApi.js
/src/services/rbi/familyApi.js.map
/src/services/rbi/houseApi.js
/src/services/rbi/houseApi.js.map
/src/services/rbi/rbiService.js
/src/services/rbi/rbiService.js.map
/src/services/user/userApi.js
/src/services/user/userApi.js.map
/src/services/user/userService.js
/src/services/user/userService.js.map
/src/services/vuestic-ui/components/va-button.js
/src/services/vuestic-ui/components/va-button.js.map
/src/services/vuestic-ui/components/va-icon.js
/src/services/vuestic-ui/components/va-icon.js.map
/src/services/vuestic-ui/components/va-toast.js
/src/services/vuestic-ui/components/va-toast.js.map
/src/services/vuestic-ui/icons-config/aliases.js
/src/services/vuestic-ui/icons-config/aliases.js.map
/src/services/vuestic-ui/icons-config/icons-config.js
/src/services/vuestic-ui/icons-config/icons-config.js.map
/src/services/vuestic-ui/global-config.js
/src/services/vuestic-ui/global-config.js.map
/src/services/vuestic-ui/themes.js
/src/services/vuestic-ui/themes.js.map
/src/store/modules/announcement.js
/src/store/modules/announcement.js.map
/src/store/modules/appointment.js
/src/store/modules/appointment.js.map
/src/store/modules/auth.js
/src/store/modules/auth.js.map
/src/store/modules/dashboard.js
/src/store/modules/dashboard.js.map
/src/store/modules/dialog.js
/src/store/modules/dialog.js.map
/src/store/modules/notification.js
/src/store/modules/notification.js.map
/src/store/modules/rbi.js
/src/store/modules/rbi.js.map
/src/store/modules/toast.js
/src/store/modules/toast.js.map
/src/store/modules/user.js
/src/store/modules/user.js.map
/src/firebase.js
/src/firebase.js.map
/src/main.js
/src/main.js.map
/src/registerServiceWorker.js
/src/registerServiceWorker.js.map
/tests/unit/example.spec.js
/tests/unit/example.spec.js.map